.button {
  display: inline-block;
  cursor: pointer;
  height: 60px;
}
.button span {
  font-size: 30px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 60px;
  color: #FFF;
  text-transform: lowercase;
}
.relocateButton {
  background-color: #48a5c4;
}
.relocateButton:hover {
  background-color: #398199;
}
.actionButton {
  background-color: #f4731f;
}
.actionButton:hover {
  background-color: #b35517;
}
.purpleButton {
  background-color: #9c4190;
}
.greenButton {
  background-color: #69eb09;
}
.relocateButton span {
  margin-right: 15px;
}
.relocateButton img {
  position: relative;
  float: right;
  margin-top: 21px;
  margin-right: 30px;
  height: 18px;
  opacity: .5;
}
.relocateLeft span {
  margin-right: 30px;
  margin-left: 0;
}
.relocateLeft img {
  float: left;
  margin-right: 15px;
  margin-left: 30px;
}
.relocateBack {
  background-color: #555;
}
.relocateBack:hover {
  background-color: #444;
}
.buttonBox {
  display: inline-block;
  background-color: red;
}
.buttonBox .button {
  float: left;
  clear: left;
  width: 100%;
  border-top: #FFF solid 1px;
}
.buttonBox .buttonBoxFirst {
  border: none;
}
.buttonBar .button {
  float: left;
}